Todo-List-nodejs/

helm/argocd/git-credentials-secret.yaml

helm/todo-app/


infrastructure/ansible/ansible.cfg
infrastructure/ansible/todo-app.pem
infrastructure/ansible/vars/docker-credentials.yml

infrastructure/terraform/terraform*
infrastructure/terraform/.terraform*

k8s-infrastructure/ansible/ansible.cfg
k8s-infrastructure/ansible/todo-app.pem

k8s-infrastructure/terraform/terraform*
k8s-infrastructure/terraform/.terraform*



